<section class="w-full flex flex-col items-center py-12 bg-bs-surface-2">

    <!-- Mapa de ubicación -->
    <div class="w-full max-w-3xl mt-10">
        <iframe
            src="https://www.google.com/maps?q=Camino+Cruz+del+Gamonal,+150,+Santa+Br%C3%ADgida,+Canarias,+Spain+35300&output=embed"
            width="100%"
            height="300"
            style="border:0; border-radius: 12px;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="text-center text-sm text-gray-600 mt-2">
            Camino Cruz del Gamonal, Nº150, Santa Brígida, Canarias, Spain 35300
        </p>
    </div>
</section>

