---
import CardCaseStudy from "./CardCaseStudy.astro";
import services from "../data/services.json";
---

<section
  id="servicios"
  class="bs-container bs-mt-lg"
  style="padding: 2rem 1rem;"
>
  <!-- Header -->
  <h2
    class="bs-h2 text-center md:text-left"
    style="font-family: 'Armageda', sans-serif; color: #554a8e; text-transform: uppercase;"
  >
    Servicios
  </h2>

  <!-- Servicios -->
  <div
    class="group bs-mt-md grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8"
  >
    {
      services.map((servicio) => (
        <CardCaseStudy
          caseStudy={servicio}
          serviceDescription={servicio.description}
        />
      ))
    }
  </div>
</section>
