---
import CardCaseStudy from "./CardCaseStudy.astro";
import services from "../data/services.json";
---

<section
  class="bs-container bs-mt-lg"
  id="servicios"
  style="background: #111; border-radius: 2rem; box-shadow: 0 4px 32px #554a8e22; padding: 2rem 1rem;"
>
  <!-- Header -->
  <h2
    class="bs-h2 text-center md:text-left"
    style="font-family: 'Armageda', sans-serif; color: #fff; text-transform: uppercase;"
  >
    Servicios
  </h2>
  <p class="text-center md:text-left text-lg mb-8" style="color: #fff;">
    Soluciones integrales para tu bicicleta: recogida, limpieza, mantenimiento y
    más.
  </p>
  <!-- Servicios -->
  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
    {
      services.map((servicio) => (
        <CardCaseStudy
          caseStudy={servicio}
          serviceDescription={servicio.description}
        />
      ))
    }
  </div>
  <style>
    .bs-container {
      background: #111;
    }
    .bs-h2,
    p {
      color: #fff;
    }
  </style>
</section>
